/* Carousel */
@media  screen and (max-width: 768px) {
  #carousel-home {
    display: none;
  }
}
.carousel {
  height: 80%;
  width: 80%;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 100px;
  color: #6C757D;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 100px;
  color: #6C757D;
}

.carousel-indicators [data-bs-target] {
    background-color: #6C757D;
    height: 10px;
    width: 5%;
}

/* Cards */ 
#card-container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}