/* buttons add/remove Qty basket */ 
.btn-minus {
    height: 30px;
    width: 30px;
    span {
        color: white;
    }
}

.btn-plus {
    height: 30px;
    width: 30px;
    span {
        color: white;
    }
}